*{
list-style: none;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}
img{
    height: 200px;
    width: 200px;
}

.img-start{
    border: 30px solid #A5DEE4;
}

.img-starting{
    border: 30px solid #FEDFE1;
}